<!DOCTYPE html>
<html lang="en">
{include file="Public:head"}
<body data-type="index">
    <script src="__JS__/theme.js"></script>
    <div class="am-g tpl-g">
        {include file="Public:header"}
        {include file="Public:left"}
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat blue">
                            <div class="visual">
                                <i class="am-icon-pencil-square-o"></i>
                            </div>
                            <div class="details">
                                <div class="number"> 786 </div>
                                <div class="desc"> 文章数 </div>
                            </div>
                            <a class="more" href="#"> 查看更多
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat green">
                            <div class="visual">
                                <i class="am-icon-anchor"></i>
                            </div>
                            <div class="details">
                                <div class="number"> 786 </div>
                                <div class="desc"> 分享数 </div>
                            </div>
                            <a class="more" href="#"> 查看更多
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat blue">
                            <div class="visual">
                                <i class="am-icon-comments-o"></i>
                            </div>
                            <div class="details">
                                <div class="number"> 1349 </div>
                                <div class="desc"> 新消息 </div>
                            </div>
                            <a class="more" href="#"> 查看更多
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat red">
                            <div class="visual">
                                <i class="am-icon-users"></i>
                            </div>
                            <div class="details">
                                <div class="number"> 62 </div>
                                <div class="desc"> 用户数</div>
                            </div>
                            <a class="more" href="#"> 查看更多
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row am-cf">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">服务器CPU使用率</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="cpu_usage">
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">服务器CPU负载</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="cpu_loadavg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row am-cf">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">服务器内存使用率</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="mem_usage">
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">服务器IO</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="io_await">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {include file="Public:script"}
</body>
<script type="text/javascript">
    var cpu_usage = echarts.init(document.getElementById('cpu_usage'));
    var cpu_loadavg = echarts.init(document.getElementById('cpu_loadavg'));
    var mem_usage = echarts.init(document.getElementById('mem_usage'));
    var io_await = echarts.init(document.getElementById('io_await'));

    option_cpu_usage = {
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '4%',
            right: '4%',
            bottom: '3%',
            // containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [{$time_array}]
        },
        yAxis: {
            type: 'value',
        },
        series: [
            {
                name:'CPU_USAGE',
                type:'line',
                data:[{$monitor['cpu_usage']['data']}]
            },
        ]
    };
    option_cpu_loadavg =  {
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '4%',
            right: '4%',
            bottom: '3%',
            // containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [{$time_array}]
        },
        yAxis: {
            type: 'value',
        },
        series: [
            {
                name:'CPU_LOADAVG',
                type:'line',
                // stack: '总量',
                data:[{$monitor['cpu_loadavg']['data']}]
            },
        ]
    };
    option_mem_usage = {
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '4%',
            right: '4%',
            bottom: '3%',
            // containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [{$time_array}]
        },
        yAxis: {
            type: 'value',
            interval: 50,
            min: 0,
            max: 100
        },
        series: [
            {
                name:'MEMORY',
                type:'line',
                // stack: '总量',
                data:[{$monitor['mem_usage']['data']}]
            },
        ]
    };
    option_io_await = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['disk_read_traffic','disk_write_traffic','disk_io_await']
        },
        grid: {
            left: '4%',
            right: '4%',
            bottom: '3%',
            // containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [{$time_array}]
        },
        yAxis: {
            type: 'value',
            interval: 50,
            min: 0,
            max: 100
        },
        series: [
            {
                name:'disk_read_traffic',
                type:'line',
                data:[{$monitor['cpu_usage']['data']}]
            },
            {
                name:'disk_write_traffic',
                type:'line',
                // stack: '总量',
                data:[{$monitor['cpu_loadavg']['data']}]
            },
            {
                name:'disk_io_await',
                type:'line',
                // stack: '总量',
                data:[{$monitor['mem_usage']['data']}]
            },
        ]
    };
    cpu_usage.setOption(option_cpu_usage);
    cpu_loadavg.setOption(option_cpu_loadavg);
    mem_usage.setOption(option_mem_usage);
    io_await.setOption(option_io_await);

</script>
</html>