<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>天涯浪子的博客后台管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <script src="__JS__/echarts.min.js"></script>
    <link rel="stylesheet" href="__CSS__/amazeui.min.css" />
    <link rel="stylesheet" href="__CSS__/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="__CSS__/app.css">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/theme.js"></script>
</head>