<!-- 风格切换 -->
<div class="tpl-skiner">
    <div class="tpl-skiner-toggle am-icon-cog">
    </div>
    <div class="tpl-skiner-content">
        <div class="tpl-skiner-content-title">
            选择主题
        </div>
        <div class="tpl-skiner-content-bar">
            <span class="skiner-color skiner-white" data-color="theme-white"></span>
            <span class="skiner-color skiner-black" data-color="theme-black"></span>
        </div>
    </div>
</div>
<!-- 侧边导航栏 -->
<div class="left-sidebar">
    <!-- 用户信息 -->
    <div class="tpl-sidebar-user-panel">
        <div class="tpl-user-panel-slide-toggleable">
            <div class="tpl-user-panel-profile-picture">
                <img src="{$admin.img}" alt="">
            </div>
            <span class="user-panel-logged-in-text">
      <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
      {$admin.name}
  </span>
        </div>
    </div>

    <!-- 菜单 -->
    <ul class="sidebar-nav">
        <li class="sidebar-nav-link">
            <a href="{:url('index/inex')}"  {if $here.controller == 'Index' && $here.action != 'system'}class="active"{/if}>
                <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="{:url('index/system')}" {if $here.controller == 'Index' && $here.action == 'system'}class="active"{/if}>
                <i class="am-icon-cogs sidebar-nav-link-logo"></i> 系统设置
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-pencil-square-o sidebar-nav-link-logo"></i> 文章管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub" {if $here.controller == 'Issue' || $here.controller == 'Cate' && input('target') == 'issue' || $here.controller == 'comment'}style="display: block"{/if}>
                <li class="sidebar-nav-link">
                    <a href="{:url('issue/index')}" {if $here.controller == 'Issue'}class="active"{/if}>
                        <span class="am-icon-pencil-square-o sidebar-nav-link-logo"></span> 文章管理
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="{:url('cate/index', ['target' => 'issue'])}" {if $here.controller == 'Cate' && input('target') == 'issue'}class="active"{/if}>
                        <span class="am-icon-tags sidebar-nav-link-logo"></span> 分类管理
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="{:url('comment/index')}" {if $here.controller == 'Comment'}class="active"{/if}>
                        <span class="am-icon-comments sidebar-nav-link-logo"></span> 评论管理
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-link  sidebar-nav-link-logo"></i> 分享管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub" {if $here.controller == 'Share' || $here.controller == 'Cate' && input('target') == 'share'} style="display: block;" {/if}>
                <li class="sidebar-nav-link">
                    <a href="{:url('share/index')}" {if $here.controller == 'Share'}class="active"{/if}>
                        <span class="am-icon-link sidebar-nav-link-logo"></span> 分享管理
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="{:url('cate/index', ['target' => 'share'])}" {if $here.controller == 'Cate' && input('target') == 'share'}class="active"{/if}>
                        <span class="am-icon-tags sidebar-nav-link-logo"></span> 分类管理
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="{:url('works/index')}" {if $here.controller == 'Works'}class="active"{/if}>
                <i class="am-icon-star sidebar-nav-link-logo"></i> 作品管理
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="{:url('shadowsock/index')}" {if $here.controller == 'Shadowsock'}class="active"{/if}>
                <i class="am-icon-plane sidebar-nav-link-logo"></i> SS管理
            </a>
        </li>
    </ul>
</div>
