<!DOCTYPE html>
<html lang="en">
{include file="Public:head"}
<body>
      <div id="main-wrapper">
        <!-- offcanvas-menu start -->
		{include file="Public:menu"}
        <!-- offcanvas-menu end -->

        <div class="offcanvas-pusher">
          <div class="content-wrapper">

			<div class="outer-wrapper">

				 <!-- HEADER -->
				{include file="Public:header"}

			 	<!-- SLIDER -->
				<div class="slider-wrap">
					<div class="tp-banner-container">
						<div class="tp-banner" >
							<ul>
								<li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on"  data-title="Ken Burns Slide">
									<!-- MAIN IMAGE -->
									<img src="__IMG__/dummy.png"  alt="2" data-lazyload="__IMG__/slider/1/1.jpg" data-bgposition="right top" data-kenburns="off" data-duration="12000" data-ease="Power0.easeInOut"   data-bgfit="cover" data-bgpositionend="center bottom">
									<div class="tp-caption tentered_white_huge lft tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="400" data-speed="600" data-y="280" data-hoffset="0" data-x="center"
										style="    color: #fff;
										text-transform: uppercase;
										font-size: 40px;
										letter-spacing: 6px;
										font-family: Open Sans;
										font-weight: 400;
										"
										>
										我是 天涯浪子
									</div>
									<div class="tp-caption tentered_white_huge lfb tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="800" data-speed="600" data-y="350" data-hoffset="0" data-x="center"
										style="    color: #fff;
										font-size: 13px;
										text-transform: uppercase;
										letter-spacing: 10px;
										"
										>
										一只追求优雅简洁代码的程序猿
									</div>
								</li>
								
								<!-- SLIDE  -->
								<li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on"  data-title="Ken Burns Slide">
									<!-- MAIN IMAGE -->
									<img src="__IMG__/dummy.png"  alt="2" data-lazyload="__IMG__/slider/1/2.jpg" data-bgposition="right top" data-kenburns="off" data-duration="12000" data-ease="Power0.easeInOut"   data-bgfit="cover" data-bgpositionend="center bottom">
									<div class="tp-caption tentered_white_huge lft tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="400" data-speed="600" data-y="280" data-hoffset="0" data-x="center"
										style="    color: #fff;
										text-transform: uppercase;
										font-size: 40px;
										letter-spacing: 6px;
										font-family: Montserrat;
										font-weight: 400;
										"
										>
										天涯浪子 的 博客
									</div>
									<div class="tp-caption tentered_white_huge lfb tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="800" data-speed="600" data-y="350" data-hoffset="0" data-x="center"
										style="    color: #fff;
										font-size: 13px;
										text-transform: uppercase;
										letter-spacing: 10px;
										"
										>
										只为 优雅的 存在
									</div>
								</li>
								</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
				</div>

				
				<div class="inner-content no-padding">
					<div class="container home-blog padding80">
						<div class="text-center space40">
							<h2 class="uppercase">最新博客</h2>
						</div>
						<div class="row">
							{foreach $blogs as $blog}
							<div class="col-md-4">
								<div class="hb-info">
									<div class="hb-thumb">
										{if $blog.img_origin}
										<img src="{$blog.img_origin}" class="img-responsive" alt=""/>
										{else}
										<img src="__IMG__/blog/3.jpg" class="img-responsive" alt=""/>
										{/if}
										<div class="date-meta">
											{$blog.add_time}
										</div>
									</div>
									<h4><a href="{:url('blog/detail', ['id' => $blog.id])}">{$blog.title}</a></h4>
									<p>{$blog.abstract}</p>
									<a href="{:url('blog/detail', ['id' => $blog.id])}" class="readmore">Read more...</a>
								</div>
							</div>
							{/foreach}
						</div>
					</div>
					<section id="portfolio-section" class="border-top padding80">
						<div class="container">
							<h2 class="uppercase text-center">最新作品</h2>
							<div id="portfolio-home" class="isotope home-project-3col">
								{foreach $works as $work}
								<div class="project-item">
									<div class="project-gal">
										{if $work.img}
										<img src="{:config('imgUrl')}{$work.img}" class="img-responsive" alt="">
										{else}
										<img src="__IMG__/projects/4.jpg" class="img-responsive" alt="">
										{/if}
										<div class="overlay-folio">
											<div class="hover-box">
												<div class="hover-zoom">
													<a href="{:url('portfolio/detail', ['id' => $work.id])}"><i class="fa fa-search"></i></a>
													<a class="link" href="{$work.link}"><i class="icon-link3"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="project-info">
										<h2>{$work.title}</h2>
									</div>
								</div>
								{/foreach}
							</div>
						</div>
					</section>
					<div class="space80"></div>
					<section id="portfolio-section" class="border-top padding80">
						<div class="container">
							<h2 class="uppercase text-center">最新分享</h2>
							<div id="portfolio-home" class="isotope home-project-3col">
								{foreach $shares as $share}
								<div class="project-item">
									<div class="project-gal">
										{if $work.img}
										<img src="{:config('imgUrl')}{$share.img}" class="img-responsive" alt="">
										{else}
										<img src="__IMG__/projects/4.jpg" class="img-responsive" alt="">
										{/if}
										<div class="overlay-folio">
											<div class="hover-box">
												<div class="hover-zoom">
													<a href="{:url('share/detail', ['id' => $share.id])}"><i class="fa fa-search"></i></a>
													<a class="link" href="{$share.link}" target="_blank"><i class="icon-link3"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="project-info">
										<h2>{$share.title}</h2>
										{if $share.pass}
										<p>密码：{$share.pass}</p>
										{/if}
									</div>
								</div>
								{/foreach}
							</div>
						</div>
					</section>
					<div id="stats3" class="parallax-bg3">
						<div class="bg-overlay">
							<div class="container">
								<div class="row">
									<div class="col-md-3 col-sm-6">
										<div class="stats3-info">
											<i class="icon-location3"></i>
											<p><span class="count count3">715</span></p>
											<h2>今日浏览量</h2>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="stats3-info">
											<i class="icon-pencil2"></i>
											<p><span class="count count3">{$count.blogs}</span></p>
											<h2>文章总数</h2>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="stats3-info">
											<i class="icon-star2"></i>
											<p><span class="count count3">{$count.works}</span></p>
											<h2>作品总数</h2>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="stats3-info">
											<i class="icon-link2"></i>
											<p><span class="count count3">{$count.share}</span></p>
											<h2>分享总数</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="container padding70">
						<div class="section-about">
							<div class="row">
								<div class="col-md-6">
									<div>
										<img src="__IMG__/other/coder.jpg" class="img-responsive" alt="">
									</div>
								</div>
								<div class="col-md-6">
									<div>
										<div class="space70"></div>
										<h3>个人简介</h3>
										<p>混过社团，组织过活动，自主创过业，参加过国家项目，但是实验课依旧基本全优，我就是一枚安徽大学的应届毕业生</p>
										<p>写的了c，编的了shell，码得了python，玩的了linux，但是依旧情有独钟于php，我就是一枚爱捣腾有目标的小小程序猿 </p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="border-top padding50">

					<div class="container">
							<div class="section-info">
								<div class="col-md-6 margin-bottom-xs-30">
									<h4>Why Choose Us</h4>
									<div class="space30"></div>
									<div class="panel-group" id="accordion">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1">
													Lorem ipsum dolor sit amet consectetur adipiscing elit
													</a>
												</h4>
											</div>
											<div id="collapseOne1" class="panel-collapse collapse">
												<div class="panel-body">
													<p>Etiam cursus pellentesque neque, eget ullamcorper augue eleifend a. In sit amet pulvinar purus. Ut in nibh tortor. Nullam quis magna sed nunc facilisis blandit vel at erat. Donec blandit et nulla sed lacinia. Quisque ullamcorper tincidunt ante, ut feugiat felis consectetur ut.</p>
												</div>
											</div>
										</div>
										<div class="clearfix space10"></div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
													Curabitur et diam vitae dolor aliquet et in massa
													</a>
												</h4>
											</div>
											<div id="collapseTwo1" class="panel-collapse collapse">
												<div class="panel-body">
													<p>Nam ullamcorper imperdiet luctus. Vestibulum tincidunt malesuada mi, in posuere augue cursus nec. Morbi et vehicula risus, fermentum lacinia justo. Etiam tellus arcu, eleifend tristique enim rutrum iaculis risus, id tincidunt dui fringilla sed bibendum lorem.</p>
												</div>
											</div>
										</div>
										<div class="clearfix space10"></div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
													Proin faucibus sem sed dapibus dapibus
													</a>
												</h4>
											</div>
											<div id="collapseThree1" class="panel-collapse collapse">
												<div class="panel-body">
													<p>Etiam cursus pellentesque neque, eget ullamcorper augue eleifend a. In sit amet pulvinar purus. Ut in nibh tortor. Nullam quis magna sed nunc facilisis blandit vel at erat. Donec blandit et nulla sed lacinia. Quisque ullamcorper tincidunt ante, ut feugiat felis consectetur ut.</p>
												</div>
											</div>
										</div>
										<div class="clearfix space10"></div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
													Lorem ipsum dolor sit amet consectetur adipiscing elit
													</a>
												</h4>
											</div>
											<div id="collapseFour1" class="panel-collapse collapse">
												<div class="panel-body">
													<p>Etiam cursus pellentesque neque, eget ullamcorper augue eleifend a. In sit amet pulvinar purus. Ut in nibh tortor. Nullam quis magna sed nunc facilisis blandit vel at erat. Donec blandit et nulla sed lacinia. Quisque ullamcorper tincidunt ante, ut feugiat felis consectetur ut.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<h4>Skills we are having</h4>

									<div class="space30"></div>


									<div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">Web Design</span>

                        <div class="progress">
                          <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" ><span class="progress-percent"> 97%</span>
                          </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Graphic Design</span>

                        <div class="progress">
                          <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" ><span class="progress-percent"> 78%</span>
                          </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">WordPress</span>

                        <div class="progress">
                          <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" ><span class="progress-percent"> 65%</span>
                          </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->
                    
                	</div><!-- /.progress-wrapper -->


									<div class="gap">
									</div>

								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>

			{include file="Public:footer"}
			</div>

          </div> <!-- /.content-wrapper -->
        </div> <!-- .offcanvas-pusher -->
      </div><!-- /#main-wrapper -->

{include file="Public:js"}
</body>
</html>

