<head>
  
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 

	<title>天涯浪子的博客</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="__CSS__/hippo-off-canvas.css" type="text/css">
	
	<!-- Styles -->
	<link rel="stylesheet" href="__JS__/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="__JS__/owl-carousel/owl.theme.css">
	<link rel="stylesheet" href="__JS__/owl-carousel/owl.transitions.css">
	<link rel="stylesheet" href="__JS__/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="__JS__/flexslider/flexslider.css">
	<link rel="stylesheet" href="__JS__/isotope/isotope.css">
	<link rel="stylesheet" href="__CSS__/jquery-ui.css">
	<link rel="stylesheet" href="__JS__/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" href="__CSS__/style.css">
	<link rel="stylesheet" href="__CSS__/responsive.css">

	<!-- Icon Fonts -->
	<link rel="stylesheet" href="__CSS__/icomoon/style.css" type="text/css">
	<link rel="stylesheet" href="__CSS__/font-awesome.min.css" type="text/css">

	<!-- SKIN -->
	<link rel="stylesheet" href="__CSS__/color-scheme/default-black.css" type="text/css">


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
           <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.2/jquery.xdomainrequest.min.js"></script>      
	<![endif]-->

</head>