    <!-- Preloader -->
    <div id="preloader">
      <div id="status">
        <div class="status-mes"></div>
      </div>
    </div>
<!-- jQuery -->
<script src="__JS__/jquery.js"></script>

<!-- Plugins -->
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/menu.js"></script>
<script src="__JS__/owl-carousel/owl.carousel.min.js"></script>
<script src="__JS__/rs-plugin/js/jquery.themepunch.tools.min.js"></script>   
<script src="__JS__/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="__JS__/jquery.easing.min.js"></script>
<script src="__JS__/isotope/isotope.pkgd.js"></script>
<script src="__JS__/tweecool.js"></script>
<script src="__JS__/flexslider/jquery.flexslider.js"></script>
<script src="__JS__/easypie/jquery.easypiechart.min.js"></script>
<script src="__JS__/jquery-ui.js"></script>
<script src="__JS__/jquery.appear.js"></script>
<script src="__JS__/jquery.inview.js"></script>
<script src="__JS__/jquery.countdown.min.js"></script>
<script src="__JS__/jquery.sticky.js"></script>
<script src="__JS__/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="__JS__/hippo-off-canvas.js"></script>
<script src="__JS__/main.js"></script>
<script>
// 防止该插件报错
$(document).ready(function() {
    $('#tweecool').tweecool({
      //settings
       username : 'tweecool',
       limit : 5,
    });
});
</script>