<!-- 小屏幕下的导航菜单 -->
<div class="offcanvas-menu offcanvas-effect visible-xs visible-sm">
  <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
  <h1>Maxima sidebar Menu</h1>
  <div>
    <div>
		<ul id="menu">
		  <li><a href="{:url('index/index')}">Home</a></li>
		  <li><a href="#">Pages</a>
			<ul>
			  <li><a href="about.html">About page</a></li>
			  <li><a href="services.html">Services</a></li>
			  <li><a href="team.html">Team</a></li>
			  <li><a href="pricing.html">Pricing</a></li>
			  <li><a href="search.html">Search</a></li>
			</ul>
		  </li>
		  <li><a href="#">Blog</a>
			<ul>
			  <li><a href="blog-left-1col.html">Classic Style</a></li>
			  <li><a href="blog-mason-2col.html">Masonry Style</a></li>
			  <li><a href="blog-left-2col.html">Grid Style</a></li>
			  <li><a href="blog-single-left.html">Single Article</a></li>
			</ul>
		  </li>
		  <li><a href="#">Portfolio</a>
			<ul>
			  <li><a href="portfolio-boxed-4col.html">Portfolio Four</a></li>
			  <li><a href="portfolio-gutter-3col.html">Portfolio Three</a></li>
			  <li><a href="portfolio-tiles-3col.html">Portfolio Two</a></li>
			  <li><a href="portfolio-floating-left.html">Single Product</a></li>
			</ul>
		  </li>
		  <li><a href="#">Contact</a>
			<ul>
			  <li><a href="contact1.html">Contact One</a></li>
			  <li><a href="contact2.html">Contact Two</a></li>
			</ul>
		  </li>
		</ul>
	</div>
  </div>
</div>