<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples - 代码库</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="__CSS__/amazeui.min.css" />
    <link rel="stylesheet" href="__CSS__/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="__CSS__/app.css">
    <script src="__JS__/jquery.min.js"></script>

</head>

<body data-type="login">
    <script src="__JS__/theme.js"></script>
    <div class="am-g tpl-g">
        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-logo">

                </div>



                <form class="am-form tpl-form-line-form" method="POST" action="{:url('login/check')}">
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" name="name" placeholder="请输入账号">

                    </div>

                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" name="pass" placeholder="请输入密码">

                    </div>
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" name="captcha" style="width: 50%; float: left; margin-right: 10%;" placeholder="请输入验证">
                        <img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}'" alt="captcha" style="width: 40%; cursor: pointer;" />

                    </div>
                    <div class="am-form-group">

                    </div>

                    <div class="am-form-group">

                        <button type="submit" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">提交</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="__JS__/amazeui.min.js"></script>
    <script src="__JS__/app.js"></script>

</body>

</html>