<!DOCTYPE html>
<html lang="en"> 

{include file="Public:head"}
<link rel="alternate" href="__CSS__/amazeui.tagsinput.css">
<script type="text/javascript" src="__JS__/amazeui.tagsinput.min.js"></script>
<script type="text/javascript" src="__JS__/typeahead.min.js"></script>
<style type="text/css" media="screen">
    .tt-dropdown-menu{
        background-color: #fff;
        color: #999;
        padding-left: 20px;
        padding-right: 20px;
    }
    /*解决由于app.css样式对amazeui css覆盖导致的错误*/
    .am-dimmer{
        z-index: 1100;
    }
    /*解决与ueditor冲突*/
    .am-popup{
        z-index: 1300;
    }
</style>
<link href="__CSS__/imgcommon.css" type="text/css" rel="stylesheet">
<link href="__CSS__/imgupload.css" type="text/css" rel="stylesheet">
<body data-type="widgets">
    <script src="__JS__/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        {include file="Public:header"}
        {include file="Public:left"}

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">面包屑导航</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div> 
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-line-form" action="{:url('works/update', ['id'=> $id])}" method="post" enctype="multipart/form-data">
                                    <div class="am-form-group">
                                        <label for="title" class="am-u-sm-3 am-form-label">作品标题 <span class="tpl-form-line-small-title">Title</span></label>
                                        <div class="am-u-sm-9">
                                            <input id="title" type="text" class="tpl-form-input" name="title" placeholder="请输入标题文字" required="" value="{if $id}{$works.title}{/if}">
                                        </div>
                                    </div>
                                    <div class="am-popup" id="my-popup">
                                        <div class="am-popup-inner">
                                            <div class="am-popup-hd">
                                                <h4 class="am-popup-title">裁剪图片</h4>
                                                <span data-am-modal-close class="am-close">&times;</span>
                                            </div>
                                            <div class="am-popup-bd">
                                                <!-- 裁剪显示区 -->
                                                <div class="am-margin-bottom-sm" id="clip" style="width: 100%; height: 400px;"></div>

                                                <button type="button" class="am-btn am-btn-primary" id="clipBtn">
                                                    裁剪
                                                </button>
                                                <input class="am-hide" type="file" name="pic" id="pic">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="pic" class="am-u-sm-3 am-form-label">封面图 <span class="tpl-form-line-small-title">Images</span></label>
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file" >
                                                <div class="tpl-form-file-img">
                                                    <img id="img-preview" style="max-width: 500px;" {if $id && $works.img} src="{:config('imgUrl').$works['img']}" {else} style="display: none;" {/if} alt="">
                                                </div>
                                                <button type="button" class="am-btn am-btn-danger" id="toggle-file" style="cursor: pointer;">
    												<i class="am-icon-cloud-upload"></i> 修改封面图片</button>
                                            </div>

                                        </div>
                                    </div>
                                    <style>
                                        .am-icon-close {
                                            cursor: pointer;
                                        }
                                    </style>
                                    <div class="am-form-group">
                                        <label for="pic" class="am-u-sm-3 am-form-label">内容图片 <span class="tpl-form-line-small-title">Images</span></label>
                                        <div class="am-u-sm-9">
                                            <div class="img-box full">
                                                <section class=" img-section">
                                                    <div class="z_photo upimg-div clear" >
                                                        {if $id && !empty($works.showImg)}
                                                            {foreach $works.showImg as $img}
                                                            <section class="up-section fl">
                                                                <span class="up-span"></span>
                                                                <span class="close-upimg am-icon-close" src="/static/admin/images/a7.png"></span><img class="up-img" src="{:config('imgUrl').$img}">
                                                                <input type="hidden" name="showImg[]" value="{$img}">
                                                            </section>
                                                            {/foreach}
                                                        {/if}
                                                         <section class="z_file fl">
                                                            <img src="__IMG__/a11.png" class="add-img">
                                                            <input type="file" name="file[]" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
                                                         </section>
                                                     </div>
                                                 </section>
                                            </div>
                                            <aside class="mask works-mask">
                                                <div class="mask-content">
                                                    <p class="del-p ">您确定要删除作品图片吗？</p>
                                                    <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
                                                </div>
                                            </aside>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="content" class="am-u-sm-3 am-form-label">作品内容 <span class="tpl-form-line-small-title">Content</span></label>
                                        <div class="am-u-sm-9">
                                            <textarea class="" rows="30" style="height: 600px;" id="content" name="content" placeholder="请输入作品内容" required="">{if $id}{$works.content}{/if}</textarea>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="link" class="am-u-sm-3 am-form-label">作品链接<span class="tpl-form-line-small-title"> Link</span></label>
                                        <div class="am-u-sm-9">
                                            <input id="link" type="text" class="tpl-form-input" name="link" placeholder="请输入作品链接" required="" value="{if $id}{$works.link}{/if}">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="is_top" class="am-u-sm-3 am-form-label">精品 <span class="tpl-form-line-small-title">Best</span></label>
                                        <div class="am-u-sm-9">
                                            <div class="tpl-switch">
                                                <input type="checkbox" name="is_top" class="ios-switch bigswitch tpl-switch-btn" {if $id &&  $works.is_top}checked{/if}>
                                                <div class="tpl-switch-btn-view">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="sort" class="am-u-sm-3 am-form-label">排序 <span class="tpl-form-line-small-title">Sort</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" id="sort" name="sort" placeholder="排序从小到大依次排序" {if $id} value="{$works.sort}" {/if}>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="keywords" class="am-u-sm-3 am-form-label">SEO关键字 <span class="tpl-form-line-small-title">Keywords</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" id="keywords" name="keywords" placeholder="输入SEO关键字" value="{if $id}{$works.keywords}{/if}">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="description" class="am-u-sm-3 am-form-label">SEO描述 <span class="tpl-form-line-small-title">Description</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" id="description" name="description" placeholder="输入SEO描述" value="{if $id}{$works.description}{/if}">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    {include file="Public:script"}

</body>
<!-- 引入图片裁剪 -->
<script src="__JS__/iscroll-zoom.min.js"></script>
<script src="__JS__/hammer.min.js"></script>
<script src="__JS__/photoClip.min.js"></script>
<script>
    $(function() {
        var $clip = $("#clip");
        var $file = $("#pic");
        var $imgView = $("#img-preview");
        var $popup = $("#my-popup");
        $("#toggle-file").click(function() {
            $file.trigger("click");
            $popup.modal({
                closeViaDimmer: true
            });
        });

        $clip.photoClip({
            width: 400,
            height: 300,
            fileMinSize: 20,
            file: $file,
            ok: "#clipBtn",
            loadStart: function() {
                console.log("照片读取中");
            },
            loadProgress: function(progress) {
                console.log(progress);
            },
            loadError: function() {
                console.log("图片加载失败");
            },
            loadComplete: function() {
                console.log("照片读取完成");
            },
            imgSizeMin: function(kbs) {
                console.log(kbs, "上传图片过小");
            },
            clipFinish: function(dataURL) {
                $("#img-preview").css('display', 'block');
                $("#img-preview").attr('src', dataURL);
                $popup.modal("close");
            }
        });
    })
</script>
<!-- 引入ueditor -->
<script type="text/javascript" src="__HTMLVENDOR__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__HTMLVENDOR__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('content',{initialFrameHeight: 500, zIndex : 1200});
</script>
<!-- 多图上传插件 -->
<script src="__JS__/imgUp.js"></script>
</html>